<!DOCTYPE html>
<html>
    <head>
        <title>Letter Results</title>
    </head>
    <body>
        <h1>Results</h1>
        <h2>The letter choice was: <%= letter%></h2>
        <h2>The weight  was not over: <%= weight%> oz.</h2>
        <h2>So your price is $<%= price%></h2>
    </body>
</html>