<!DOCTYPE html>
<html>
    <head>
        <title>Paper Rock Scissors Results</title>
    </head>
    <body>
        <h1>Results</h1>
        <h2>The player choice was: <%= player%></h2>
        <h2>The cpu choice was: <%= cpu%></h2>
    </body>
</html>